<h2 id="dashUser">{{user.dataValues.username}}'s Dashboard</h2>
<a href="/create" id="createPost">Create Blog Post</a>
{{#each serialized as |post|}}
<div id="dashPost" class="post" data-PostId="{{post.id}}">
    <h3 class="post" data-PostId="{{post.id}}">{{post.title}}</h3>
    <p class="post" data-PostId="{{post.id}}">{{post.contents}}</p>
    <p class="post" data-PostId="{{post.id}}">{{post.date_created}}</p>
</div>
{{/each}}
{{#unless serialized}}
<h3>You haven't made any posts yet!</h3>
{{/unless}}


<script src="/js/dashboard.js"></script>