<div class="post" id="soloPost">
    <h3>{{serPostData.title}}</h3>
    <p>{{serPostData.contents}}</p>
    <p>By, {{serPostData.user.username}}</p>
    <p>{{serPostData.date_created}}</p>
    {{#if loggedIn}}
    <label for="newComment">Add Comment:</label>
    <input type="text" id="newComment">
    <button type="button" id="addCommentBtn" data-postId="{{serPostData.id}}">Submit Comment</button>
    {{/if}}
    {{#if userMatch}}
    <button type="button" id="deleteButton" data-postId="{{serPostData.id}}">Delete Post</button>
    {{/if}}
    <h4>Comments:</h4>
    {{#each serCommentData as |comment|}}
    <card>
        <h5>{{comment.user.username}}</h5>
        <p>{{comment.text}}</p>
        <p>{{comment.date_created}}</p>
    </card>
    {{/each}}
</div>

<script src="/js/dashboard.js"></script>